<html>
<head>
</head>
<body>
  <div id="banner">   
      <a href="/info/solution">
      <%= image_tag ('arxlad.jpg'),:options => {:align => "center"} %></a>                       
  </div>
  <br />
  <div>
       <a href="/info/soft">
       <%= image_tag ('t9.png'),:options => {:align => "left"} %></a>
       
       <a href="/info/room"> 
       <%= image_tag ('t10.png'),:options => {:align => "right"} %></a>
   
  </div>
  <div>
      
       <a href="/info/soft">安人®心理软件</a>
    
       <a href="/info/room">安人®心理咨询室辅助设备</a>
  </div>
</body>
</html>

